
<div class="row mx-auto">
<div class="col-sm-3">
    		    <div class="card profile-card-3">
    		        <div class="background-block">
    		            <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
    		        </div>
    		        <div class="profile-thumb-block">
    		            <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile"/>
    		        </div>
    		        <div class="card-content">
                    <h2>Richard Example<small>Job title</small></h2>
                    <div class="icon-block text-center"><a href="#"><i class="fa fa-phone"></i></a><a href="#"> <i class="fa fa-envelope"></i> </a><a href="#"> <i class="fa fa-google-plus"></i> </a></div>
                    </div>
                </div>
</div>

<!--Profile Card 4-->
    		<div class="col-sm-3">
    		    <div class="card profile-card-4">
                    <div class="card-img-block">
                        <h3>Job Title</h3>
                    </div>
                    <div class="card-body pt-5">
                        <img src="https://randomuser.me/api/portraits/women/14.jpg" alt="profile-image" class="profile"/>
                        <h5 class="card-title text-center">Wilbur Example</h5>
                        <p class="card-text text-center">Quick tagline, could be a quote, short description of job function</p>
                        <div class="icon-block float-right"><a href="#"><i class="fa fa-phone"></i></a><a href="#"> <i class="fa fa-envelope"></i> </a><a href="#"> <i class="fa fa-google-plus"></i> </a></div>
                    </div>
                </div>
    		</div>
        <div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Job Title</h4>
            <h5>Taylor Example</h5>
						<p class="card-text">Quick tagline, could be a quote, short description of job function</p>
						<div class="icon-block text-center">
            <a href="#"><i class="fa fa-phone"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
					</div>
				</div>
			</div>
      <div class="col-md-3">
      <div class="wrapper">
      <div class="card cardspecial">
        <div class="front">
          <h3>Cool Feature</h3>
          <h5>Wanted yes or No?</h5>
          <p class="card-text">Quick tagline, could be a quote, short description of job function</p>
        </div>
        <div class="right">
          <h5>Cody Example</h5>
            <div class="row mx-auto">
              <div class="col-12">
                <p class="card-text mx-auto">Preferred method of contact, in the field or call center</p>
                <div class="icon-block text-center">
                  <a href="#"><i class="fa fa-phone"></i></a>
                  <a href="#"><i class="fa fa-envelope"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>            
               </div>
            </div>
        </div>
      </div>
      <div class="img-wrapper">
          <img src='' onerror="this.src='';" alt=''>    
      </div>
    </div>
      </div>

        
</div>
